footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.coordonnees {
    text-align: center;
}
.coordonnees a, p {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;
    color: white;
}
.coordonnees a {
    text-decoration: underline;
}
/* - Partie responsive - */
@media (max-width: 600px) {
    footer {
        padding: 15px;
    }
}