header {
    background-color: #333333;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header a {
    margin: 2px;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: arial;
    transition: background .2s;
}
.cv {
    color: #222222;
    background-color: #fefefe;
}
header a:hover {
    background-color: #222222;
}
.cv:hover {
    background-color: #cbcbcb;
}
.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}
/* - Partie responsive - */
@media (max-width: 800px) {
    header {
        justify-content: left;
    }
    .burger {
        display: flex;
    }
    header nav {
        position: absolute;
        top: 60px;
        left: -180px;
        width: 180px;
        flex-direction: column;
        background-color: #333333;
        transition: left 0.3s;
    }
    header nav.active {
        left: 0;
        opacity: 1;
        pointer-events: auto;
    }
    header nav a {
        text-align: center;
        display: block;
    }
}