header {
    background-color: #333333;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
header a {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: arial;
}
header a:hover {
    background-color: #222222;
}
header nav {
    padding: 10px;
}