main {
    flex: 1;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main p {
    font-weight: 400;
    color: black;
}
section {
    padding-left: 30px;
    padding-right: 30px;
    scroll-margin-top: 60px;
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-family: Helvetica;
}
h2 {
    font-family: Arial;
    font-weight: bold;
}
.ligne {
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.video-background {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(-1);
}
img {
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.case-formation {
    height: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #cccccc;
    border-radius: 10px;
}
section p {
    font-family: Arial;
    font-size: 17px;
}
.cadre-formation img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    object-fit: contain;
}
.cadre-formation {
    margin: 20px;
    height: 200px;
    width: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    max-width: 800px;
}

.case-realisations {
    height: 75vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #C0E0FF;
    border-radius: 10px;
}
.boutons-realisations {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.perso-bouton {
    padding: 4px 8px;
    border: none;
    background: #ffffffaa;
    border-radius: 6px;
    cursor: pointer;
}
.perso-bouton.active {
    background: #fff;
    font-weight: bold;
}
.perso-content {
    display: none;
    width: 100%;
    max-width: 85%;
    text-align: center;
    justify-content: center;
    gap: 5px;
}
.perso-content.active {
    display: flex;
    flex-direction: column;
}
.pro-bouton {
    padding: 4px 8px;
    border: none;
    background: #ffffffaa;
    border-radius: 6px;
    cursor: pointer;
}
.pro-bouton.active {
    background: #fff;
    font-weight: bold;
}
.pro-content {
    display: none;
    width: 100%;
    max-width: 85%;
    text-align: center;
    justify-content: center;
    gap: 5px;
}
.pro-content.active {
    display: flex;
    flex-direction: column;
}
.slider {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 0;
}
.slider img.active {
    opacity: 1;
    z-index: 0;
}