/* - Global - */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
main p {
    font-weight: 400;
    color: black;
}
/* - Sections - */
section {
    scroll-margin-top: 60px;
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section p {
    font-family: Arial;
    font-size: 17px;
}
h1 {
    font-family: Helvetica;
}
h2, h3 {
    font-family: Arial;
    font-weight: bold;
}
/* - Elements - */
.ligne {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
img {
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.text {
    max-width: 800px;
}
/* - Partie formation - */
.case-formation {
    height: 400px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    align-items: center;
    background: #cccccc;
    border-radius: 10px;
}
.cadre-formation {
    margin: 20px;
    height: 200px;
    max-width: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre-formation img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
/* - Partie competences - */
.case-competence {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex: 1 1 220px;
    background: #C0E0FF;
    border-radius: 10px;
}
.case-competence h2 {
    text-align: center;
}
.case-competence p {
    padding-left: 15px;
}
/* - Partie experiences - */
.case-experience {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    align-items: center;
    text-align: center;
    background: #cccccc;
    border-radius: 10px;
}
.cadre-experience {
    margin: 20px;
    height: 180px;
    width: 350px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre-experience img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
/* - Partie realisations - */
.case-realisations {
    height: 65vh;
    display: none;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background: #C0E0FF;
    border-radius: 10px;
}
.case-realisations.active {
    display: flex;
}
.boutons-choix, .boutons-realisations {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.choix-bouton, .perso-bouton, .pro-bouton {
    margin-top: 15px;
    padding: 4px 8px;
    border: none;
    cursor: pointer;
    background: #ffffffaa;
    font-size: 15px;
    border-radius: 6px;
}
.choix-bouton {
    padding: 8px 14px;
    font-size: 20px;
    border-radius: 8px;
}
.choix-bouton.active, .perso-bouton.active, .pro-bouton.active {
    background: #fff;
    font-weight: bold;
}
.perso-content, .pro-content {
    display: none;
    width: 100%;
    max-width: 85%;
    text-align: center;
    justify-content: center;
    gap: 5px;
}
.perso-content.active, .pro-content.active {
    display: flex;
    flex-direction: column;
}
/* - Partie slider - */
.slider {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1.5s;
}
.slider .active {
    opacity: 1;
}
/* - Partie responsive - */

@media (max-width: 1150px) {
    .realisations {
        flex-direction: column;
        align-items: center;
    }
    .case-realisations {
        width: 85%;
        min-width: 300px;
        height: auto;
    }
    section {
        height: auto;
        padding: 40px 20px;
    }
}
@media (max-width: 950px) {
    .formation {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1000px) {
    .experience {
        flex-direction: column;
        align-items: center;
    }
    .case-experience {
        width: 90%;
        min-width: 300px;
        height: auto;
    }
}
@media (max-width: 950px) {
    .competence {
        flex-direction: column;
        align-items: center;
    }
    .case-competence {
        width: 40%;
        min-width: 250px;
        height: auto;
    }
}
@media (max-width: 955px) {
    .propos {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px) {
    .cadre-formation, .cadre-experience {
        height: auto;
        width: 90%;
    }
    .slider {
        height: 180px;
    }
    .boutons-realisations {
        flex-direction: column;
    }
}