main {
    flex: 1;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main p {
    font-weight: 400;
    color: black;
}
section {
    padding-left: 30px;
    padding-right: 30px;
    scroll-margin-top: 60px;
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-family: Helvetica;
}
h2 {
    font-family: Arial;
    font-weight: bold;
}
.ligne {
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.video-background {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(-1);
}
img {
    border-radius: 8px;
}
.case-formation {
    height: 400px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #cccccc;
    border-radius: 10px;
}
section p {
    font-family: Arial;
    font-size: 17px;
}
.cadre-formation img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    object-fit: contain;
}
.cadre-formation {
    margin: 20px;
    height: 200px;
    width: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    max-width: 800px;
}

.case-realisations {
    height: 680px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: #C0E0FF;
    border-radius: 10px;
}